<header class="ip-header" [ngClass]="{'fixed-header': isBottom}"  [@visibleHidden]="'visible'">
    <div class="container d-flex flex-wrap justify-content-between py-3">
      <a routerLink="" class="d-flex align-items-center me-md-auto text-dark text-decoration-none" href="">
        <img src="./assets/images/isabelpedro-wh.svg" alt="logo-isapedro" width="146px">
      </a>
      <div class="ip-header__nav" *ngIf="!menuMobile">
        <div class="ip-header__close">
            <button class="e-btn border-white text-white p-2" (click)="ToggleMenuMobile()">
              <i class="lnr lnr-cross fs-3 "></i>
            </button>
        </div>
        <ul class="nav nav-pills">
          <li (click)="NavigateTo('')"  class="nav-item">
            <a class="nav-link  py-0">Inicio
            </a>
          </li>
          <li (click)="NavigateTo('/contacto/formulario')" class="nav-item">
            <a class="nav-link py-0">
              Confirmar asistencia
            </a>
          </li>
          <li class="ms-3">
            <a routerLink="/" class="e-btn--tertiary border-white py-2 px-3">
              <i class="lnr lnr-bookmark me-2 fs-6"></i>
              Guardar la fecha
            </a>
          </li>
        </ul>
      </div>
      <button class="ip-header__menu e-btn border-white text-white p-2" *ngIf="mobileDevice" (click)="ToggleMenuMobile()">
        <i class="lnr lnr-menu fs-3"></i>
      </button>
    </div>
</header>
