@import "../../../assets/scss/variables.scss";

.ip-header {
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  
  &__nav {
    @media screen and (max-width: 768px) {
      position: absolute;
      background-color: white;
      padding: 1rem 0;
      width: 100%;
      top: 70px;
      z-index: 10;
      right: 0;
      left: 0;
      box-shadow: 0px 32px 33px -2px rgba($c-secondary, 0.1);
    }
    .nav {
      @media screen and (max-width: 720px) {
        flex-direction: column;
        margin: 0 auto;
        width: 540px;
      }
      @media screen and (max-width: 420px) {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
      }

      &-pills {
        cursor: pointer;
      }
    }
  }
}