@import "../../../assets/scss/variables.scss";

.ip-header {
  --background-color: #{$c-white};
  --text-color : #{$c-dark};

  background-color: var(--background-color);
  top: 0;
  width: 100%;
  z-index: 1;

  &.fixed-header {
    background: transparent;
    position: fixed;                                    
    top: 0;
    z-index: 10;
    transition: all 0.1s;
  }
  
  &__nav {
    @media screen and (max-width: 768px) {
      position: absolute;
      background-color: $c-white;
      padding: 1rem 0;
      width: 100%;
      height: 100vh;
      top: 0;
      z-index: 10;
      right: 0;
      left: 0;
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      animation: slide-in-right 145ms cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both;
    }
    .nav {
      align-items: center;
      @media screen and (max-width: 720px) {
        flex-direction: column;
        margin: 0 auto;
        width: 540px;
        padding: 1rem;
        align-items: start;
      }
      @media screen and (max-width: 420px) {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        gap: 1rem;
      }
      &-item {
        * {
          color: var(--text-color);
          font-size: 14px;
          @media screen and (max-width: 420px) {
            font-size: 16px;
          }
        }
      }

      &-pills {
        cursor: pointer;
      }
    }
  }

  &__close {
    display: none;
    padding: 0 1rem;
    justify-content: end;
    .lnr {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 720px)  {
      display: flex;
    }
  }
}