<app-banner bannerImage="bg-banner.jpg"></app-banner>
<div class="ip-legal">
  <div class="container">
    <div class="d-flex justify-content-start py-3 mb-5 border-bottom">
      <div class="text-start">
        <h1 class="c-headline__ttl cardo-bold text-dark fw-bolder">
          Avisos Legales y Protección de Datos
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12 my-3">
        <h3 class="fs-4">
          1. Introducción
        </h3>
        <p>
          En bodaisabelpedro.es, nos tomamos muy en serio la privacidad y la protección de los datos personales. Esta página describe cómo recopilamos, utilizamos, almacenamos y protegemos los datos que nos proporciona.
        </p>
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          2. Responsable del Tratamiento de Datos
        </h3>
        <p>
          El responsable del tratamiento de los datos personales es:
        </p>
        <ul>
          <li>
            Nombre: Pedro Garrido Medina
          </li>
          <li>
            Correo Electrónico: hola@bodaisabelpedro.es
          </li>
        </ul>
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          3. Datos Personales Recopilados
        </h3>
        <p>
          Recopilamos los siguientes datos personales a través de nuestros formularios:
        </p>
        <ul>
          <li>
            Nombre y apellidos
          </li>
          <li>
            Dirección
          </li>
          <li>
            Código postal
          </li>
          <li>
            Número de teléfono
          </li>
          <li>
            Dirección de correo electrónico
          </li>
          <li>
            Información adicional necesaria para la organización de la boda (como preferencias de menú, etc.)
          </li>
        </ul>
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          4. Finalidad del Tratamiento de Datos
        </h3>
        <p>
          Los datos personales recopilados se utilizan exclusivamente para:
        </p>
        <ul>
          <li>
            Comunicaciones con los invitados a la boda.
          </li>
          <li>
            Organización y gestión de la boda.
          </li>
          <li>
            Envío de actualizaciones e información relevante sobre el evento.
          </li>
        </ul>
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          5. Almacenamiento de Datos
        </h3>
        <p>
          Sus datos personales se almacenan de manera segura en nuestro servidor de almezanamiento de datos para la boda a través de los servicios de Google Cloud Computing y Google Cloud Platform (GCP). GCP es una plataforma de Google que cumple con las normativas de protección de datos aplicables, incluyendo el Reglamento General de Protección de Datos (GDPR).
        </p>
        
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          6. Protección de Datos
        </h3>
        <p>
          Implementamos medidas técnicas y organizativas adecuadas para proteger sus datos personales contra el acceso no autorizado, la alteración, divulgación o destrucción.
        </p>
        
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          7. Consentimiento
        </h3>
        <p>
          Al proporcionar sus datos personales en nuestros formularios, usted consiente expresamente el tratamiento de sus datos conforme a los términos establecidos en esta página de avisos legales y protección de datos.
        </p>
        <ul>
          <li>
            Acceso: Puede solicitar acceso a los datos personales que tenemos sobre usted.
          </li>
          <li>
            Eliminación: Puede solicitar la eliminación de sus datos personales.
          </li>
          <li>
            Oposición: Puede oponerse al tratamiento de sus datos personales.
          </li>
        </ul>
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          8. Derechos del Usuario
        </h3>
        <p>
          De acuerdo con la normativa de protección de datos aplicable, usted tiene los siguientes derechos:
        </p>
        
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          9. Uso de Cookies
        </h3>
        <p>
          Esta web utiliza cookies standarizadas para mejorar su experiencia de navegación y analizar el uso del sitio. Al utilizar nuestro sitio, usted acepta el uso de cookies conforme a a la Política de Cookies de la unión europea.
        </p>
        
      </div>
      <div class="col-12 my-3">
        <h3 class="fs-4">
          11. Contacto
        </h3>
        <p>
          Si tiene alguna pregunta o preocupación sobre esta política de protección de datos o sobre cómo manejamos sus datos personales, no dude en contactarnos en hola@bodaisabelpedro.es
        </p>
        
      </div>
    </div>
  </div>
</div>