<div class="ip-jumbotron">
  <div class="container">
    <div  class="ip-jumbotron__ctn">
      <div class="my-3">
        <h1 class="cardo-bold text-secondary fw-bolder">
          LOS PASOS IMPORTANTES MEJOR DARLOS ACOMPAÑADOS
        </h1>
        <p class="fw-light mt-2">
          Sábado 07 de diciembre de 2024, ¡será un gran día!
        </p>
      </div>
      <a routerLink="contacto/formulario" class="e-btn bg-primary text-white ">
        Confirmar asistencia
        <i class="lnr lnr-arrow-right ps-2 fs-5"></i>
      </a>
    </div>
    
  </div>
</div>
