@import "../../../assets/scss/variables.scss";

.ip-jumbotron {
  position: relative;
  background-image: url('../../../assets/images/banner/flower-banner.jpg');
  background-position: 98% 20%;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: left;

  @media screen and (max-width: 432px) {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  &__ctn {
    transform: translateX(-100%);
    width: 50%;
    h1, p {
      margin: 0;
      color: $c-white;
    }

    h1 {
      font-size: 3.3rem;
      font-weight: 600;
    }

    @media screen and (max-width: 432px) {
      width: 100%;
      left: 0;
      margin: 0;
      padding: 0;
    }
  }

  img {
    object-position: bottom;
  }
}