@import "../../../assets/scss/variables.scss";

.ip-jumbotron {
  position: relative;
  background-image: url('../../../assets/images/banner/bg-collage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: left;

  @media screen and (max-width: 432px) {
  background-position: 65% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__title {
    font-size: 3.3rem;
    color: $c-white;
    margin-bottom: 0.8rem;

    @media screen and (max-width: 432px){
      font-size: 2.2rem;
    }
  }
  
  &__ctn {
    transform: translateX(-100%);
    width: 50%; 
     p {
      margin: 0;
      color: $c-white;
    }

    @media screen and (max-width: 432px) {
      width: 100%;
      left: 0;
      margin: 0;
      padding: 0;
    }
  }

  img {
    object-position: bottom;
  }
}