.ip-banner {
  position: relative;
  height: 240px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center right;
    filter:opacity(0.3);
  }

  @media screen and (max-width: 432px) {
    background-position: 95% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  &__ctn {
    width: 50%;
    h1, p {
      margin: 0;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 500;
    }

    @media screen and (max-width: 432px) {
      width: 100%;
      left: 0;
      margin: 0;
      padding: 0;
    }
  }
}