.ip-success {
  margin-top: 3rem;
  &__img {
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }  
}