<div class="ip-planning container" id="planning">
  <div class="d-flex justify-content-center py-3">
    <div class="text-center">
      <h1 class="c-headline__ttl fm-style">
        Plan del
      </h1>
      <p class="c-headline__ttl cardo-bold">
        EVENTO
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-end mb-4 border-bottom">
    <p>
      Alcalá de Henares
    </p>
    <h3 class="mb-3">
      7 Diciembre 2024
    </h3>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <iframe class="mb-4" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Calle%20Libreros,%2025%20Alcala%20de%20Henares+(Parroquia%20Santa%20Mar%C3%ADa%20la%20Mayor)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=78569229581dc9e479ddf4089956a87923f60ce9'></script>
    </div>
    <div class="col-12 col-lg-6">
      <ul class="d-flex flex-column gap-2 px-4 px-lg-0 py-4">
        <li class="d-flex gap-4">
          <span class="fw-bold">
            12:00
          </span>
          <p class="fw-medium">
            CEREMONIA
          </p>
        </li>
        <li class="d-flex gap-4">
          <span class="fw-bold">
            14:00
          </span>
          <p class="fw-medium">
            CÓCTEL DE BIENVENIDA
          </p>
        </li>
        <li class="d-flex gap-4">
          <span class="fw-bold">
            15:00
          </span>
          <p class="fw-medium">
            BANQUETE DE BODA
          </p>
        </li>
        <li class="d-flex gap-4">
          <span class="fw-bold">
            18:30
          </span>
          <p class="fw-medium">
            ¡QUE COMIENCE LA FIESTA!
          </p>
        </li>
        <li class="d-flex gap-4">
          <span class="fw-bold">
            01:00
          </span>
          <p class="fw-medium">
            FIN DEL EVENTO
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex gap-3 mt-3">
    <i class="lnr lnr-alarm"></i>
    <p>
      Próximamente más información para todos nuestros invitados.
    </p>
  </div>
</div>
