@import "../../../../assets/scss/variables.scss";

.ip-confirm {
  margin-top: 1rem;
  &__title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}