@import "../../../assets/scss/variables.scss";

.ip-cards {
  background-color: rgba($c-grey, 0.2);
  padding: 2rem 1rem;
  cursor: pointer;

  &__block {
    background-color: $c-white;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;     
    height: auto; 
    display: flex;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
      transform: scale(102%);
      transition: all 0.1s ease;
    }
  }

  &__img {
   flex: 0.7;

    > img {
      width: 100%;
      height: 100%;
    }
   }

   &__ctn {
    padding: 1rem 8px;
    text-align: left;
    word-wrap: break-word;
    width: 100%;
    flex: 1;

    @media screen and (min-width: 768px) {

    }
    h3 {
      font-size: 16px;
      font-weight: 500;
    }

    p {
      font-size: 12px;
    }
  }
}