<div class="ip-cards">
  <div class="container">
    <div class="ip-cards__row row">
      <div class="col-12 col-xl-4 px-2 my-2" *ngFor="let card of cardsContentList">
          <div class="ip-cards__block" routerLink="{{ card.path }}">
            <div class="ip-cards__img">
              <img src="{{ card.image }}" alt="reserva-hotel-imagen">
            </div>
            <div class="ip-cards__ctn">
              <h3>
                {{card.title}}
              </h3>
              <p>
                {{card.description}}
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
