@import "../../../assets/scss/variables.scss";

.ip-cards {
  margin: 4rem 0;
  &__block, .block{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid $c-tertiary;
    border-radius: 50%;
width: 200px;

     &__icon {
       font-size: 4.8rem;
       color: $c-tertiary;
       margin-top: -49px;
       background: #fff;
     }
      &__ctn {
        text-align: center;

        p {
          font-size: 12px;
        }
      }
  }

}