<div class="ip-cards">
  <div class="container">
    <div class="d-flex m-auto gap-5 justify-content-center">
      <div class="ip-cards__block block">
        <i class="block__icon wedicon-WEDDING-DOVES"></i>
        <div class="block__ctn my-2">
          <h3>
            Titulo
          </h3>
          <p>
            This is a wider card with supporting text below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
      <div class="ip-cards__block block">
        <i class="block__icon wedicon-WEDDING-DOVES"></i>
        <div class="block__ctn my-2">
          <h3>
            Titulo
          </h3>
          <p>
            This is a wider card with supporting text below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
      <div class="ip-cards__block block">
        <i class="block__icon wedicon-WEDDING-DOVES"></i>
        <div class="block__ctn my-2">
          <h3>
            Titulo
          </h3>
          <p>
            This is a wider card with supporting text below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
