@import "../../../assets/scss/variables.scss";

.ip-footer {

  background-color: $c-tertiary;

  .logo {
    width: 320px;
  
    @media screen and (max-width: 420px) {
      width: 240px;
    }
  }

  .nav {
    &-link {
      font-size: 14px;
    }
  }
}
